/* Reset e variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #002B2A;
    --text-light: #ffffff;
    --text-dark: #000000;
    --transition: all 0.3s ease;
}

body {
    font-family: "Fivo Sans", Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.header {
    background-color: var(--text-dark);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo {
    color: var(--text-light);
    font-size: 1.5rem;
    font-weight: bold;
}

/* Botões */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    padding: 1rem 2rem;
    border-radius: 180px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    transform: translateY(-2px);
}
