/* ==========================================================================
   Common Styles
   ========================================================================== */
:root {
    --primary-color: #002B2A;
    --text-light: #ffffff;
    --text-dark: #000000;
    --transition: all 0.3s ease;
}

.section {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
}


.section-content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
}

.section h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 24px;
}

.section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 32px;
}

.white__separator{
    width: 100%;
    height: 8px;
    background-color: #ffffff;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */
.hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    /*background-clip: url("../images/PHARMACEUTICAL\ CANNABIS.webm");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.hero-content {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 30px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 24px;
}

.hero-content p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 32px;
}

/* ==========================================================================
   Leadership Section
   ========================================================================== */
.leadership {
    background-color: var(--text-dark);
    padding: 150px 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.leadership .section-content {
    width: 100%;
    margin: 0 auto;
}

.leadership__content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 80px;
}

.leadership h2 {
    width: 40%;
    font-size: 44px;
    color: var(--text-light);
    text-transform: uppercase;
}

.leadership p {
    font-size: 18px;
    color: var(--text-light);
    width: 60%;
    padding-left: 50px;
    padding-bottom: 0;
    line-height: 1.5;
}



/* ==========================================================================
   Culture Section
   ========================================================================== */

.culture__content{
    text-align: center;
    margin: 120px auto;
    padding: 0 4%;
}

.culture__content h2{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
}

.culture__content p {
    font-size: 18px;
    margin: 0 auto;
    width: 60%;
}

/* SECTION GOVERNANCE*/

.governance {
    align-items: center;
    padding: 130px 120px;
    text-align: center;
}

.governance h2 {
    color: var(--text-dark);
    font-size: 35px;
    margin: 20px auto; 
    text-transform: uppercase;
}

.governance p {
    color: var(--text-dark);
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    width: 60%;
}

/*image separeator*/

.image__separator {
    width: 100%;
    height: 100vh;
    background-image: url("../images/image-separator.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}



/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .content-box.pri,
    .content-box.sec {
        width: 80%; /* Reduz a largura para telas médias */
        padding: 40px 80px; /* Ajusta o padding */
    }
}

@media (max-width: 768px) {
    .content-box.pri,
    .content-box.sec {
        width: 90%; /* Reduz ainda mais a largura para telas pequenas */
        padding: 30px 40px; /* Ajusta o padding para telas menores */
    }

    .leadership__content h2 {
        font-size: 24px; /* Reduz o tamanho do título */
    }
}

@media (max-width: 480px) {
    .content-box.pri,
    .content-box.sec {
        width: 100%; /* Ocupa toda a largura disponível */
        padding: 20px; /* Reduz o padding para telas muito pequenas */
    }

    .leadership__content h2 {
        font-size: 20px; /* Reduz ainda mais o tamanho do título */
    }
}
/* ==========================================================================
   Driven Section
   ========================================================================== */
.driven{
    background-color: #EDF2F7;
    width: 100%;
    padding: 0;
}

.driven-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.text-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.text-content h2{
    font-size: 44px;
    color: var(--text-dark);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-content p{
    font-size: 18px;
    color: var(--text-dark);
    padding-right: 200px;
}

.driven-content-img{
    background-image: url("../images/section_driven_img.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 600px;
}

.management{
    height: 100vh;
    background-image: url("../images/managment-section.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1200px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .driven .section-content {
        flex-direction: column;
        gap: 32px;
    }

    .text-content {
        max-width: 800px;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .section h2 {
        font-size: 32px;
    }

    .section p {
        font-size: 18px;
    }

}

@media (max-width: 480px) {

    .section h2 {
        font-size: 25px;
    }

    .section p {
        font-size: 17px;
    }

}

/* ==========================================================================
   Contact Section
   ========================================================================== */
.contact {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.contact .section-content {
    text-align: center;
    max-width: 800px;
}

.contact h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 24px;
}

.contact p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 32px;
}

.contact .btn {
    font-size: 18px;
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}




