/* Reset e variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #002B2A;
    --text-light: #ffffff;
    --text-dark: #000000;
    --transition: all 0.3s ease;
}

body {
    font-family: "Fivo Sans", Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}
@media (min-width: 1024px) {
    .scroll-down-icon {
        display: flex;
    }
}

.white__separator{
    width: 100%;
    height: 8px;
    background-color: #ffffff;
}

/* Hero Section */


.hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 30px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 24px;
}

.hero-content p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 32px;
}


/* Seções */
.section {
    min-height: 80vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    overflow: hidden;
}

/* Imagem dentro das seções */
.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: block;
}

/* Seção de imagem de respiro */
.section.breath-image {
    min-height: 400px;
    background-image: url(imagem-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.breath-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-content {
    position: relative;
    z-index: 1;
    color: var(--text-light);
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Content Box */
.content-box {
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    text-align: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pri{
  background-image: url(card-1-people.png);
}

.sec{
  background-image: url(card-2-people.png);
  color: #1F1F1F;
}

.ter{
  background-image: url(card-3-people.png);
  color: #1F1F1F;
}

.content-box.ter,
.content-box.ter p,
.content-box.ter h2,
.content-box.ter span,
.content-box.ter div {
  color: #1F1F1F !important;
}

.content-box p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.content-box strong {
    color: #00ff00;
}

/* Botões */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 180px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
    margin-top: 2rem;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Section-specific styles */
.leadership {
    background-color: var(--primary-color);
}

.leadership .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leadership h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.leadership p {
    margin-bottom: 30px;
}

.leadership .content-box {
    margin-bottom: 10px;
}

.leadership .content-box:last-child {
    margin-bottom: 0;
}

.driven {
    background-color: #f5f5f7;
}

.driven .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.driven h2,
.driven p {
    color: #1F1F1F;
}

.driven .content-box {
    margin-bottom: 10px;
    margin-top: 30px;
}

.driven .content-box:last-child {
    margin-bottom: 0;
}

.management, .experts {
    background-color: var(--primary-color);
}

.section.management{
  background-image: url(imagem-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.governance, .culture {
    background-color: var(--text-light);
    color: var(--primary-color);
}

.governance .section-content,
.culture .section-content {
    color: var(--primary-color);
}

.contact {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.process{
    padding: 100px 2%;
    background-color: #F6F6FA;
}
.process__title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px ;
}
.process__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.process__map{
    width: 45%;
    display: flex;
    justify-content: center;
}

.estufa {
    transition: all 0.3s ease;
}
  
.estufa path {
    fill: #dfdfdf; /* cor padrão */
    stroke: #0C291F; 
    stroke-width: 0.1px;
    transition: all 0.5s;
}

.estufa.active path {
    fill: #296451;
    stroke: #0C291F; 
    stroke-width: 0.2px;
  }

.estufa:hover path {
    fill: #296451;
    stroke: #0C291F; 
    cursor: pointer;
  }

.path-estufa{
    fill: #ececec;
    stroke: #565656;
    stroke-width: 0.2px;
}

.estufa:hover path.sombra {
    fill: rgba(0, 0, 0, 0.3) !important;
    transition: 0.3s;
}

.estufa.active path.sombra {
    fill: rgba(0, 0, 0, 0.3) !important;
}

.estufa:hover path.door{
    fill: #1b493a !important;
    transition: 0.3s;
}

.estufa.active path.door{
    fill: #1b493a !important;
}

.estufa path.teste{
    fill: red !important;
}


.estufa-1 .estufa-indicator {
    font-weight: bold;
    pointer-events: none; 
    transition: opacity 0.3s;
    font-size: 14px;
    fill: #ffffff;

}

/* Mostra o texto ao passar o mouse na estufa */
.estufa:hover .estufa-indicator {
    opacity: 1;
}
.estufa:hover .estufa-bg{
    opacity: 1;
}

.estufa.active .estufa-indicator,
.estufa.active .estufa-bg {
    opacity: 1;
    transition: opacity 0.3s;
}

.estufa-2 .estufa-indicator {
    font-weight: bold;
    pointer-events: none; 
    transition: opacity 0.3s;
    font-size: 14px;
    fill: #ffffff;
}

/* Mostra o texto ao passar o mouse na estufa */
.estufa-2:hover .estufa-indicator {
    opacity: 1;
}
.estufa-2:hover .estufa-indicator,
.estufa-2:hover .estufa-bg {
    opacity: 1;
    transition: opacity 0.3s;
}

.estufa-3 .estufa-indicator {
    font-weight: bold;
    pointer-events: none; 
    transition: opacity 0.3s;
    font-size: 14px;
    fill: #ffffff;
    background-color: #002B2A; 
}

/* Mostra o texto ao passar o mouse na estufa */
.estufa-3:hover .estufa-indicator {
    opacity: 1;
}
.estufa-3:hover .estufa-indicator,
.estufa-3:hover .estufa-bg {
    opacity: 1;
    transition: opacity 0.3s;
}

.estufa-4 .estufa-indicator {
    font-weight: bold;
    pointer-events: none; 
    transition: opacity 0.3s;
    font-size: 14px;
    fill: #ffffff;
    background-color: #002B2A; 
}

/* Mostra o texto ao passar o mouse na estufa */
.estufa-4:hover .estufa-indicator {
    opacity: 1;
}
.estufa-4:hover .estufa-indicator,
.estufa-4:hover .estufa-bg {
    opacity: 1;
    transition: opacity 0.3s;
}

.process__cards-container {
    position: relative; 
    width: 600px; 
    height: 445px;
}
  
  /* Todos os cards sobrepostos, ocupando o mesmo espaço */
.process__card {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.95) translateY(20px) translateX(-50%);
    filter: blur(4px);
    transition: 
        opacity 0.5s ease, 
        visibility 0.5s ease, 
        transform 0.5s ease, 
        filter 0.5s ease;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
  
.process__card.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0) translateX(-50%);
    filter: blur(0);
    z-index: 1;
}

.process__card-image{
    width: 97%;
    margin: 8px auto;
}
.process__card-title{
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.process__card-description{
    padding-left: 20px;
    padding-right: 70px;
    text-align: justify;
}

.image_separator-1{
    background-image: url("../images/image-separator-1.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.image_separator-2{
    background-image: url("../images/home_1.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.compliance {
    background-color: #000;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}
.compliance__content{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}
.compliance h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
}

.compliance p {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
}

/*.compliance__image {
    position: relative;
    width: 40%;
    flex: 1;
    height: 950px;
    background-image: url('../images/compliance__image.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.compliance__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 40%);
    z-index: 1; /* Garante que o overlay fique acima da imagem 
}*/

/*------------------------------------------------------------------------------*/


.product {
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h2 {
    margin-bottom: 30px;
    font-size: 35px;
}

.product p {
    margin-bottom: 30px;
    font-size: 18px;
}
.contact {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.contact h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 24px;
}

.contact p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 32px;
}
.contact .btn{
    font-size: 18px;
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

@media (max-width: 480px) {
    .content-box {
        width: 363px;
        height: 420px;
        margin: 0 auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .content-box.ter {
        height: 530px;
    }
}


@media (max-width: 1200px) {
    .step-box {
        flex: 0 0 calc(50% - 10px);
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .process__wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .process__map{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .process__cards-container {
        position: relative; 
        width: 90%; 
        height: 445px;
    }
    .process__card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95) translateY(20px);
        filter: blur(4px);
        transition: 
            opacity 0.5s ease, 
            visibility 0.5s ease, 
            transform 0.5s ease, 
            filter 0.5s ease;

        background-color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .compliance {
        background-color: #032441;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .compliance__content{
        width: 100%;
        padding-left: 80px;
        padding-right: 60px;
    }

}

.section-step{
    background-image: url(../image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
